h1 {
	font-size: 3em;
	padding: 1em;
	padding-bottom: 0.5em;
}

.navbar {
	display: inline-block;
	align-items: center;
}

.navbar ul {
	list-style-type: none;
	display: inline-block;
	align-items: center;
}

.navbar ul li {
	float: left;
	padding: 0;
}

.navbar ul li a {

	display: block;
	transition: 0.3s;
    text-decoration: none;
}

.navbar ul a:hover {
  background-color: #000000;
  opacity: 20%;
}