* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

body {
	background-color: #f5f8fa;
}

h1 {
	font-size: 3em;
	padding: 1em;
	padding-bottom: 0.5em;
}

.navbar {
	display: inline-block;
	align-items: center;
}

.navbar ul {
	list-style-type: none;
	display: inline-block;
	align-items: center;
}

.navbar ul li {
	float: left;
	margin: 0.5em;
	padding: 0.5em;
}

.navbar ul li a {
	padding: 24px;
	display: block;
	transition: 0.3s
}

.navbar ul a:hover {
  background-color: #000000;
  opacity: 20%;
}